<table>
    <tr>
        <th>Name</th>
        <th>UserName</th>
        <th>Password</th>
        <th>Role</th>
        <th>Action</th>
    </tr>
    <% data.forEach(el => { %>
    <tr>
        <th><%= el.Name %></th>
        <th><%= el.UserName %></th>
        <th><%= el.Password %></th>
        <th><%= el.Role %></th>
        <th> <a href=<%= `/edit-user/${el.id}` %>> EDIT </a> | <a href=<%= `/delete-user/${el.id}` %>>DELETE </a></th>
    </tr> 
<% }) %>
</table>